@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root{
    /* color: ; */
    --white-color:
    --black-color:
    --blue-color:
    --red-color:
    --gray-dark-color:
    --grey-light-color

    /* size: ; */
    /* font-size: ; */
}
body {
  font-family: "Roboto Slab", serif;
}
